<img src="<%= url_for :action => 'home_image', :id => photo.id %>" alt="<%= photo.number %>" oncontextmenu="javascript:return nosaveas('<%=msg%>');"/>
<input type="hidden" id="photo_id" name="photo_id" value="<%= photo.id %>" />
<input type="hidden" id="photo_number" name="photo_number" value="<%= photo.number %>" />