<div class="paragraph padded">
    Email: <a href="mailto:shannon@shannonmrush.com">shannon@shannonmrush.com</a>
    <br/>
    Phone: 503.997.5045
    <br/>
    <br/>
    Mailing Address:
    <br/>
    <br/>
    Shannon M Rush Photography
    <br/>
    209 W. Evergreen Blvd. #615
    <br/>
    Vancouver, WA 98660
</div>