<br/>
<br/>
<br/>
<div class="slideshow_div">
    <h2>Thank you for your payment!</h2>
    <p class="content">
        Your transaction has been completed, and a receipt for your purchase
        has been emailed to you.  If you have any questions, please email
        <a href="mailto:shannon@shannonmrush.com">shannon@shannonmrush.com</a>
        or call 503.997.5045.
    </p>
    <p class="content">
        Thanks again! ~ Shannon M. Rush
    </p>
</div>