body {
	background-color: #ffffff;
	color: #000000;
	background-image: url(http://www.shannonmrush.com/test/images/butterfly.gif);
	background-repeat: no-repeat;
	background-position: right bottom;
}
